<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HalfLife Game/src/main/Game.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
<listEntry value="=HalfLife Game/res"/>
<listEntry value="=HalfLife Game/C:\/Users\/rohab\/.p2\/pool\/plugins\/org.eclipse.fx.ide.css.jfx8_3.0.0.201705220750.jar"/>
<listEntry value="=HalfLife Game/src"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Game"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HalfLife Game"/>
</launchConfiguration>
